body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    color: #ffffff;
    background: hsla(120, 45%, 70%, 1);
    line-height: 1.5;
}

main {
    text-align: center;
    margin: 0 auto;
    clear: both;
}

header.main-pg-header {
    padding: 50px
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 15px;
}

li {
    background:rgb(10, 168, 103);
    padding: 7px;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 10px 15px 1px gray;
}

li:first-child {
    margin-left: -45px;
}

li:nth-child(2) {
    margin-left: -50px;
}

li:nth-child(3) {
    margin-left: -50px;
}

li:last-child {
    margin-left: -50px;
}


li:hover {
    color: hsl(177, 67%, 82%);
    box-shadow: 0 10px 15px 0px gray;
}

div.styling {
    width: 100%;
    background-color: rgb(124, 209, 170);
    height: 1px;
    box-shadow: 0 0 5px 0 rgb(124, 209, 170);
}

header {
    background:rgb(10, 168, 103);
}

aside.left {
    float: left;
    display: block;
    background: hsla(145, 55%, 55%, 1);
    min-height: 100vh;
    width: 100px;
}

aside.right {
    float: right;
    display: inline-block;
    width: 100px;
    min-height: 100vh;
    background: hsla(145, 55%, 55%, 1);
}

input {
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    margin: 5px;
    width: 200px;
    margin: 0 auto;
}

input[type="password"] {
    margin: 5px;
    width: 200px;
    margin: 0 auto;
}

input[type="email"] {
    margin: 5px;
    width: 200px;
    margin: 0 auto;
}

label[for="email"] {
    margin-right: 15px;
}

fieldset {
    border: none;
}

div.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header.image-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.card {
    height: 250px;
    width: 200px;
    gap: 1rem;
    background-color: rgba(70, 88, 104, 0.747);
    margin: 10px;
    border-radius: 15px;
}



/* 
hsla(255, 40%, 70%, 1)
*/