body {
    background-color: #9a69e1;
    color: #47429d;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    padding: 20px;
    border-radius: 15px;
}

h4 {
    margin: 0;
}

h2 {
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
}

form, fieldset:first-child {
    background-color: #f7b7f3;
}

textarea {
    resize: none;
}
fieldset h2 {
    padding-left: 15px;
}

legend {
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
}
